.menu-lateral {
     display: none; 
  position: fixed;      
  top: 0;
  left: 0;            
  height: 100vh;       
  width: 200px;       
  background-color: #a395b9; 
  padding-top: 20px;
  box-sizing: border-box;
  overflow-y: auto;    
  z-index: 1000;
}

.menu-lateral ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 12px; 
}

.menu-lateral li {
  margin: 20px 0;
}

.menu-lateral a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  font-weight: bold;
  transition: background-color 0.3s;
}

.menu-lateral a:hover {

  background-color: rgba(232, 182, 172, 0.4); 
}

.menu-lateral.tema-escuro {
  background-color: #0e0241; 
}

/* BOTAO MENU */

.btn-class-name {
 --primary: 232, 182, 172;   
--secondary: 210, 100, 100; 
  width: 60px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  outline: 10px solid rgb(var(--primary), .5);
  border-radius: 100%;
  position: relative;
  transition: .3s;
  position: fixed; 
  top: 20px;       
  left: 20px;     
  z-index: 1000;
}


.btn-class-name.tema-escuro {
 --primary: 173, 216, 230;   
  --secondary: 0, 51, 153;    
  width: 60px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  outline: 10px solid rgb(var(--primary), .5);
  border-radius: 100%;
  position: relative;
  transition: .3s;
    position: fixed;
  left: 20px;      
  z-index: 1000;
}

.btn-class-name .back {
  background: rgb(var(--secondary));
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.btn-class-name .back .tema-escuro {
  background: rgb(var(--secondary));
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.btn-class-name .front {
  background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
  box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
  border-radius: 100%;
  position: absolute;
  border: 1px solid rgb(var(--secondary));
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: inherit;
  transform: translateY(-15%);
  transition: .15s;
  color: rgb(var(--secondary));
}

.btn-class-name .front.tema-escuro {
  background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
  box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
  border-radius: 100%;
  position: absolute;
  border: 1px solid rgb(var(--secondary));
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: inherit;
  transform: translateY(-15%);
  transition: .15s;
  color: rgb(var(--secondary));
}

.btn-class-name:active .front {
  transform: translateY(0%);
  box-shadow: 0 0;
}

.menu-lateral.ativo {
  display: block; 
}